* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* box-sizing: border-box; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: gainsboro;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #070708;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 400vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #be0fa4;
}
h2 {
  font-size: 30px;
  color: #020202;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: first baseline;
}
hy {
  font-size: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 140%;
  border: 1px solid#34343450;
  border-radius: 7px;
}

hy:hover {
  background-color: #8a2a82;
}
/* ------------------------------------------------Le Button------------------------------------------------------------------------------- */
button {
  width: auto;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #8a2a82;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 200px;
}
button:hover {
  border-color: #e6dee6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ------------------------------------------------Comme le porc salut c'est marquer dessus-------------------------------------------------------------------------- */
.nav {
  padding: 20px;
  background-color: #95b3b5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  margin-bottom: 15px;
  max-width: 100%;
}

/* // Styles pour les listes <ul> à l'intérieur de la div */
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  gap: 10px;
}

/* // Styles pour les éléments <li> à l'intérieur des listes <ul> */
.nav ul li {
  margin-bottom: 10px;
}

/* // Styles pour les images <img> à l'intérieur de la div */
.nav img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* -------------------------------------------------------------------------------------------------------------------------- */
.span {
  color: crimson;
}
/* ----------------------------------------Home page "LET EXPLORE UNIQUE ITEM"  je sais le nomage est a chier --------------------------------------------------------------------------- */
.h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* --------------------------------------------effect du looding CHARGEMENT EN MODE 3G-------------------------------------------------------------------------- */

.cligno {
  font-size: 200px;
  color: cadetblue;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.cligno span {
  position: relative;
  display: inline-block;
}

.cligno span::after {
  content: attr(data-letter);
  display: inline-block;
  position: absolute;
  left: 0;
  color: #fff900;
  text-shadow: 0 0 2px #fff900, 0 0 10px #fff900;
  opacity: 0;
  animation: cligno 1.25s ease-in-out infinite;
}
@keyframes cligno {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
.p {
  font-size: 5.2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 1.1;
  color: #020202;
  margin-left: 0%;
  /* background-color: rgb(169, 165, 165); */
}
/* --------------------------------------La Div ou il y a le texte et la frisée----------------------------------------------------------------------------------------- */
.bulleHomePage {
  height: 530px;
  display: flex-block;
  /* justify-content: flex-end; */
  padding: 100px, 100px, 100px, 100px;
  gap: 10px;
  background-color: rgb(169, 165, 165);
  border-radius: 60px;
  width: 1500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* -----------------------------------------sa coule de source  <img>------------------------------------------------------------------------------------ */
.laFrisee {
  position: absolute;
  justify-content: flex-end;
  width: 1064px;
  height: 615px;
  top: 100px;
  left: 559px;
  gap: 0px;
  /* opacity: 100%; */
  object-fit: contain;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.title {
  display: flex;
  justify-content: center;
  width: 649px;
  height: 358px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: rgb(38, 38, 40);
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  /* text-align: left; */
  /* flex-direction: column; */
}
/* --------------------------------------------------------------------------------------------------------------------------------- */

.Card {
  background-color: #ccc;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid rgb(182, 177, 177);
}

.Card h2 {
  font-size: 20px;
  color: #333;
}

.Card p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.Card p.p2 {
  margin: 0;
  display: flex;
  justify-content: end;
  font-size: 16px;
  color: #f10b0b;
  line-height: 1.5;
  font-size: 30px;
  margin-left: 0px;
}
/* --------------------------------------------------------------------------------------------------------------- */
.Card2 {
  background-color: #e2d7d7;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 270px;
  height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border: 1px solid rgb(182, 177, 177);
}
/* --------------------------------------La div qui englobe les Card de la Home-------------------------------------------------- */
.element-Card {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin-top: 10px;
}
/* ------------------------------------------------------L'image a l'interieur de la Card---------------------------------------- */
img.Card2 {
  align-items: center;
}
/* ---------------------------------------------utiliser dans produit--------------------------------------------------------------------------------- */

.container {
  margin: 0;
  max-width: 1300px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 10%;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
.ListeProduits {
  margin: 0;
  display: block;
  justify-content: left;
  gap: 10%;
  color: #020202;
  align-items: baseline;
  font-size: 40px;
  width: 200px;
}
.h2ListeProduit {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
